3C515 m
AB3100_CORE y
AB3100_OTP m
ACORN_PARTITION_ADFS y
ACORN_PARTITION_CUMANA y
ACORN_PARTITION_EESOX y
ACORN_PARTITION_ICS y
ACORN_PARTITION_POWERTEC y
ACORN_PARTITION_RISCIX y
ACPI_APEI_EINJ m
ACPI_APEI_ERST_DEBUG n
ACPI_APEI_GHES y
ACPI_APEI_PCIEAER y
ACPI_HOTPLUG_MEMORY y
ACPI_I2C_OPREGION y
APB_TIMER y
ARCH_ENABLE_MEMORY_HOTREMOVE y
ARCNET_COM20020_ISA m
ATH9K_STATION_STATISTICS y
AXP288_ADC m
BACKLIGHT_88PM860X m
BACKLIGHT_AAT2870 m
BACKLIGHT_ADP5520 m
BACKLIGHT_AS3711 m
BACKLIGHT_DA903X m
BACKLIGHT_DA9052 m
BACKLIGHT_LM3630A m
BACKLIGHT_LP855X m
BACKLIGHT_LP8788 m
BACKLIGHT_MAX8925 m
BACKLIGHT_PANDORA m
BACKLIGHT_PWM m
BACKLIGHT_WM831X m
BATTERY_88PM860X m
BATTERY_DA9030 m
BATTERY_DA9052 m
BATTERY_INTEL_MID m
BATTERY_RX51 m
BATTERY_TWL4030_MADC m
BNX2X_SRIOV y
BOOTPARAM_HARDLOCKUP_PANIC n
BOOTPARAM_HARDLOCKUP_PANIC_VALUE 0
BOOTPARAM_SOFTLOCKUP_PANIC n
BOOTPARAM_SOFTLOCKUP_PANIC_VALUE 0
BRCMFMAC_PROTO_MSGBUF y
BT_CMTP m
C101 m
CAN_TSCAN1 m
CAPI_AVM y
CAPI_EICON y
CAPI_TRACE y
CARL9170_DEBUGFS n
CFG80211_CERTIFICATION_ONUS n
CHARGER_88PM860X m
CHARGER_LP8788 m
CHARGER_MAX14577 m
CHARGER_MAX8997 m
CHARGER_MAX8998 m
CHARGER_TPS65090 m
CHARGER_TWL4030 m
CHELSIO_T4_DCB y
CHROMEOS_LAPTOP m
CHROMEOS_PSTORE m
CIFS_STATS2 n
CLKDEV_LOOKUP y
CLK_TWL6040 m
CMA_AREAS 7
CMA_DEBUG n
COMEDI_ADQ12B m
COMEDI_AIO_AIO12_8 m
COMEDI_AIO_IIRO_16 m
COMEDI_AMPLC_DIO200_ISA m
COMEDI_AMPLC_PC236_ISA m
COMEDI_AMPLC_PC263_ISA m
COMEDI_BOND m
COMEDI_C6XDIGIO m
COMEDI_DAC02 m
COMEDI_DAS08_ISA m
COMEDI_DAS16 m
COMEDI_DAS16M1 m
COMEDI_DAS1800 m
COMEDI_DAS6402 m
COMEDI_DAS800 m
COMEDI_DMM32AT m
COMEDI_DT2801 m
COMEDI_DT2811 m
COMEDI_DT2814 m
COMEDI_DT2815 m
COMEDI_DT2817 m
COMEDI_DT282X m
COMEDI_FL512 m
COMEDI_II_PCI20KC m
COMEDI_MPC624 m
COMEDI_MULTIQ3 m
COMEDI_NI_ATMIO m
COMEDI_NI_ATMIO16D m
COMEDI_NI_AT_A2150 m
COMEDI_NI_AT_AO m
COMEDI_NI_LABPC_ISA m
COMEDI_NI_LABPC_ISADMA m
COMEDI_PARPORT m
COMEDI_PCL711 m
COMEDI_PCL724 m
COMEDI_PCL726 m
COMEDI_PCL730 m
COMEDI_PCL812 m
COMEDI_PCL816 m
COMEDI_PCL818 m
COMEDI_PCM3724 m
COMEDI_PCMAD m
COMEDI_PCMDA12 m
COMEDI_PCMMIO m
COMEDI_PCMUIO m
COMEDI_RTI800 m
COMEDI_RTI802 m
COMEDI_S526 m
COMEDI_SERIAL2002 m
COMEDI_SSV_DNP m
COMEDI_TEST m
COMEDI_UNIOXX5 m
COMMON_CLK y
COMMON_CLK_MAX77686 m
COMMON_CLK_MAX77802 m
COMMON_CLK_MAX_GEN y
COMMON_CLK_PALMAS m
COMMON_CLK_PXA n
COMMON_CLK_S2MPS11 m
COMMON_CLK_SI5351 m
COMMON_CLK_WM831X m
CONSOLE_POLL y
COPS m
COPS_DAYNA y
COPS_TANGENT y
COSA m
CPU_SUP_CYRIX_32 y
CPU_SUP_UMC_32 y
CRYPTO_DEV_CCP_CRYPTO m
CRYPTO_DEV_CCP_DD m
CS89x0 m
CS89x0_PLATFORM y
DA9052_WATCHDOG m
DA9055_WATCHDOG m
DA9063_WATCHDOG m
DEBUG_PINCTRL n
DEFAULT_CUBIC y
DEFAULT_DEADLINE y
DEFAULT_SECURITY_SMACK n
DEFAULT_SECURITY_TOMOYO n
DEFAULT_SECURITY_YAMA n
DE_AOC y
DMAR_TABLE y
DMA_CMA n
DPM_WATCHDOG n
DRM_MEDFIELD y
DT3155_CCIR n
DT3155_STREAMING y
DTLK m
DVB_AV7110 m
DVB_AV7110_IR y
DVB_AV7110_OSD y
DVB_B2C2_FLEXCOP_PCI m
DVB_B2C2_FLEXCOP_PCI_DEBUG n
DVB_BT8XX m
DVB_BUDGET m
DVB_BUDGET_AV m
DVB_BUDGET_CI m
DVB_BUDGET_CORE m
DVB_BUDGET_PATCH m
DVB_CX24110 m
DVB_CX24117 m
DVB_CXD2099 m
DVB_DDBRIDGE m
DVB_DM1105 m
DVB_HOPPER m
DVB_ISL6405 m
DVB_L64781 m
DVB_MANTIS m
DVB_MB86A16 m
DVB_MN88472 m
DVB_MN88473 m
DVB_NGENE m
DVB_OR51132 m
DVB_OR51211 m
DVB_PLUTO2 m
DVB_PT1 m
DVB_PT3 m
DVB_RTL2832_SDR m
DVB_SMIPCIE m
DVB_SP8870 m
DVB_SP887X m
DVB_STV0367 m
DVB_TC90522 m
DVB_TDA10021 m
DVB_TDA665x m
DVB_TDA8261 m
DVB_TUA6100 m
DVB_VES1X93 m
DVB_ZL10036 m
DW_APB_TIMER y
EARLY_PRINTK_INTEL_MID y
EFI_VARS_PSTORE m
EFI_VARS_PSTORE_DEFAULT_DISABLE n
EISA y
EISA_NAMES y
EISA_PCI_EISA y
EISA_VIRTUAL_ROOT y
EISA_VLB_PRIMING y
EL3 m
EVM_ATTR_FSUUID y
EVM_EXTRA_SMACK_XATTRS y
EXT4_USE_FOR_EXT23 y
EXTCON_MAX14577 m
EXTCON_MAX77693 m
EXTCON_MAX8997 m
EXTCON_PALMAS m
FB_INTEL m
FB_INTEL_DEBUG n
FB_INTEL_I2C y
FB_MATROX_MAVEN m
GARP m
GENERIC_PINCONF y
GIGASET_BASE m
GIGASET_CAPI n
GIGASET_DEBUG n
GIGASET_DUMMYLL n
GIGASET_I4L y
GIGASET_M101 m
GIGASET_M105 m
GPIO_ADP5520 m
GPIO_CRYSTAL_COVE m
GPIO_DA9052 m
GPIO_DA9055 m
GPIO_INTEL_PMIC y
GPIO_MSIC y
GPIO_PALMAS y
GPIO_RC5T583 y
GPIO_SX150X y
GPIO_TC3589X y
GPIO_TPS6586X y
GPIO_TPS65910 y
GPIO_TPS65912 m
GPIO_TWL4030 m
GPIO_TWL6040 m
GPIO_WM831X m
GPIO_WM8350 m
HARDLOCKUP_DETECTOR y
HAVE_CLK y
HAVE_CLK_PREPARE y
HAVE_INTEL_TXT y
HAVE_MEMORY_PRESENT y
HISAX_16_0 y
HISAX_16_3 y
HISAX_1TR6 y
HISAX_ASUSCOM y
HISAX_AVM_A1 y
HISAX_AVM_A1_CS m
HISAX_AVM_A1_PCMCIA y
HISAX_BKM_A4T y
HISAX_DEBUG n
HISAX_DIEHLDIVA y
HISAX_ELSA y
HISAX_ELSA_CS m
HISAX_ENTERNOW_PCI y
HISAX_EURO y
HISAX_FRITZPCI y
HISAX_FRITZ_PCIPNP m
HISAX_GAZEL y
HISAX_HFC4S8S m
HISAX_HFCS y
HISAX_HFCUSB m
HISAX_HFC_PCI y
HISAX_HFC_SX y
HISAX_HSTSAPHIR y
HISAX_ISURF y
HISAX_IX1MICROR2 y
HISAX_MAX_CARDS 8
HISAX_MIC y
HISAX_NETJET y
HISAX_NETJET_U y
HISAX_NI1 y
HISAX_NICCY y
HISAX_NO_KEYPAD n
HISAX_NO_LLC n
HISAX_NO_SENDCOMPLETE n
HISAX_S0BOX y
HISAX_SCT_QUADRO y
HISAX_SEDLBAUER y
HISAX_SEDLBAUER_CS m
HISAX_SPORTSTER y
HISAX_ST5481 m
HISAX_TELEINT y
HISAX_TELESPCI y
HISAX_TELES_CS m
HISAX_W6692 y
HOSTESS_SV11 m
HOTPLUG_PCI_ACPI_IBM m
HOTPLUG_PCI_CPCI_GENERIC m
HOTPLUG_PCI_CPCI_ZT5550 m
HPET_MMAP_DEFAULT y
HTC_I2CPLD y
HYSDN m
HYSDN_CAPI y
I2C_BCM2048 m
I2C_DESIGNWARE_PLATFORM m
I2C_MUX_PINCTRL m
I2C_PCA_ISA m
I2C_SI470X m
I2C_SI4713 m
I40E_DCB y
I40E_FCOE y
I82365 m
IMA_APPRAISE y
IMA_DEFAULT_HASH "sha1"
IMA_DEFAULT_HASH_SHA1 y
IMA_DEFAULT_HASH_SHA256 n
IMA_DEFAULT_HASH_SHA512 n
IMA_DEFAULT_HASH_WP512 n
IMA_DEFAULT_TEMPLATE "ima-ng"
IMA_LOAD_X509 n
IMA_LSM_RULES y
IMA_MEASURE_PCR_IDX 10
IMA_NG_TEMPLATE y
IMA_SIG_TEMPLATE n
IMA_TEMPLATE n
IMA_TRUSTED_KEYRING y
INFINIBAND_USNIC m
INPUT_88PM80X_ONKEY m
INPUT_88PM860X_ONKEY m
INPUT_DA9052_ONKEY m
INPUT_DA9055_ONKEY m
INPUT_MAX77693_HAPTIC m
INPUT_MAX8925_ONKEY m
INPUT_MAX8997_HAPTIC m
INPUT_PALMAS_PWRBUTTON m
INPUT_PCAP m
INPUT_PWM_BEEPER m
INPUT_TWL4030_PWRBUTTON m
INPUT_TWL4030_VIBRA m
INPUT_TWL6040_VIBRA m
INPUT_WM831X_ON m
INTEGRITY_ASYMMETRIC_KEYS y
INTEL_IOMMU_DEFAULT_ON n
INTEL_IOMMU_FLOPPY_WA y
INTEL_MFLD_THERMAL m
INTEL_MID_POWER_BUTTON m
INTEL_MID_PTI m
INTEL_MID_WATCHDOG m
INTEL_RAPL m
INTEL_SCU_IPC y
INTEL_SCU_IPC_UTIL m
INTEL_SCU_WATCHDOG y
INTEL_SOC_PMIC y
INTEL_TXT y
IOMMU_API y
IPPP_FILTER y
IPV6_MROUTE_MULTIPLE_TABLES y
IPV6_PIMSM_V2 y
IPV6_ROUTE_INFO y
IPV6_SUBTREES y
IP_PNP_BOOTP n
IP_PNP_DHCP y
IP_PNP_RARP n
ISAPNP y
ISCSI_IBFT m
ISDN_AUDIO y
ISDN_CAPI m
ISDN_CAPI_CAPI20 m
ISDN_CAPI_CAPIDRV m
ISDN_CAPI_CAPIDRV_VERBOSE n
ISDN_CAPI_MIDDLEWARE y
ISDN_DIVAS m
ISDN_DIVAS_BRIPCI y
ISDN_DIVAS_DIVACAPI m
ISDN_DIVAS_MAINT m
ISDN_DIVAS_PRIPCI y
ISDN_DIVAS_USERIDI m
ISDN_DIVERSION m
ISDN_DRV_ACT2000 m
ISDN_DRV_AVMB1_AVM_CS m
ISDN_DRV_AVMB1_B1ISA m
ISDN_DRV_AVMB1_B1PCI m
ISDN_DRV_AVMB1_B1PCIV4 y
ISDN_DRV_AVMB1_B1PCMCIA m
ISDN_DRV_AVMB1_C4 m
ISDN_DRV_AVMB1_T1ISA m
ISDN_DRV_AVMB1_T1PCI m
ISDN_DRV_GIGASET m
ISDN_DRV_HISAX m
ISDN_DRV_ICN m
ISDN_DRV_PCBIT m
ISDN_DRV_SC m
ISDN_HDLC m
ISDN_I4L m
ISDN_MPP y
ISDN_PPP y
ISDN_PPP_BSDCOMP m
ISDN_PPP_VJ y
ISDN_TTY_FAX y
ISDN_X25 y
IWLEGACY_DEBUGFS y
IWLWIFI_DEBUGFS y
IXGBE_DCB y
JFFS2_CMODE_FAVOURLZO y
JFFS2_CMODE_NONE n
JFFS2_CMODE_PRIORITY n
JFFS2_CMODE_SIZE n
JFFS2_FS_POSIX_ACL y
JFFS2_FS_SECURITY y
KDB_CONTINUE_CATASTROPHIC 0
KDB_DEFAULT_ENABLE 0x1
KDB_KEYBOARD y
KEYBOARD_ADP5520 m
KEYBOARD_SAMSUNG m
KEYBOARD_TC3589X m
KEYBOARD_TWL4030 m
KGDB_KDB y
KGDB_LOW_LEVEL_TRAP y
KGDB_SERIAL_CONSOLE y
KGDB_TESTS n
KVM_DEVICE_ASSIGNMENT y
L2TP_ETH m
L2TP_IP m
LANCE m
LEDS_88PM860X m
LEDS_ADP5520 m
LEDS_DA903X m
LEDS_DA9052 m
LEDS_LP8788 m
LEDS_MAX8997 m
LEDS_PWM m
LEDS_WM831X_STATUS m
LEDS_WM8350 m
LEGACY_PTY_COUNT 0
LIRC_BT829 m
LIRC_IMON m
LIRC_PARALLEL m
LIRC_SASEM m
LIRC_SERIAL m
LIRC_SERIAL_TRANSMITTER y
LIRC_SIR m
LIRC_STAGING y
LIRC_ZILOG m
LP8788_ADC m
LTPC m
MANTIS_CORE m
MAX8925_POWER m
MDA_CONSOLE m
MD_AUTODETECT y
MEDIA_ALTERA_CI m
MEDIA_PARPORT_SUPPORT y
MEDIA_TUNER_M88RS6000T m
MEDIA_TUNER_MSI001 m
MEDIA_TUNER_MT2131 m
MEDIA_TUNER_MXL301RF m
MEDIA_TUNER_QM1D1C0042 m
MEDIA_TUNER_TEA5761 m
MEDIA_TUNER_TEA5767 m
MEMORY_HOTPLUG y
MEMORY_HOTPLUG_SPARSE y
MEMORY_HOTREMOVE y
MEMORY_ISOLATION y
MEMORY_NOTIFIER_ERROR_INJECT m
MFD_88PM800 m
MFD_88PM805 m
MFD_88PM860X y
MFD_AAT2870_CORE y
MFD_AS3711 y
MFD_AXP20X y
MFD_DA9052_I2C y
MFD_DA9055 y
MFD_DA9063 y
MFD_INTEL_MSIC y
MFD_LP8788 y
MFD_MAX14577 y
MFD_MAX77686 y
MFD_MAX77693 y
MFD_MAX8907 m
MFD_MAX8925 y
MFD_MAX8997 y
MFD_MAX8998 y
MFD_PALMAS y
MFD_RC5T583 y
MFD_SEC_CORE y
MFD_SMSC y
MFD_TC3589X y
MFD_TPS65090 y
MFD_TPS6586X y
MFD_TPS65910 y
MFD_TPS65912_I2C y
MFD_TPS80031 y
MFD_TWL4030_AUDIO y
MFD_WM831X y
MFD_WM831X_I2C y
MFD_WM8350 y
MFD_WM8350_I2C y
MFD_WM8400 y
MISDN m
MISDN_AVMFRITZ m
MISDN_DSP m
MISDN_HFCMULTI m
MISDN_HFCPCI m
MISDN_HFCUSB m
MISDN_INFINEON m
MISDN_IPAC m
MISDN_ISAR m
MISDN_L1OIP m
MISDN_NETJET m
MISDN_SPEEDFAX m
MISDN_W6692 m
MIXCOMWD m
MLX4_EN_DCB y
MMC_SDHCI_PXAV2 m
MMC_SDHCI_PXAV3 m
MMIOTRACE_TEST n
MODULE_SIG_ALL y
MODULE_SIG_FORCE n
MODULE_SIG_HASH "sha512"
MODULE_SIG_SHA1 n
MODULE_SIG_SHA224 n
MODULE_SIG_SHA256 n
MODULE_SIG_SHA384 n
MODULE_SIG_SHA512 y
MOUSE_INPORT n
MOUSE_LOGIBM m
MOUSE_PC110PAD m
MRP m
MTD_NAND_BCH m
MTD_NAND_DENALI_DT m
N2 m
NE2000 m
NEED_DMA_MAP_STATE y
NEED_NODE_MEMMAP_SIZE y
NET_VENDOR_CIRRUS y
NFC_DIGITAL m
NFC_HCI m
NFC_MEI_PHY m
NFC_MICROREAD m
NFC_MICROREAD_I2C m
NFC_MICROREAD_MEI m
NFC_MRVL m
NFC_MRVL_USB m
NFC_NCI m
NFC_NCI_SPI y
NFC_PN533 m
NFC_PN544 m
NFC_PN544_I2C m
NFC_PN544_MEI m
NFC_PORT100 m
NFC_SHDLC y
NFC_SIM m
NFC_ST21NFCA m
NFC_ST21NFCA_I2C m
NFC_ST21NFCB m
NFC_ST21NFCB_I2C m
NFC_TRF7970A m
NFC_WILINK m
NF_CT_NETLINK_HELPER m
NI65 m
PATA_ISAPNP m
PATA_PLATFORM m
PATA_QDI m
PATA_WINBOND_VLB m
PCC y
PCI_ATS y
PCI_CNB20LE_QUIRK n
PCMCIA_PROBE y
PCWATCHDOG m
PINCONF y
PINCTRL y
PINCTRL_BAYTRAIL y
PINCTRL_CHERRYVIEW m
PINMUX y
PLATFORM_SI4713 m
PMIC_ADP5520 y
PMIC_DA903X y
PMIC_DA9052 y
PM_CLK y
PM_TRACE y
PM_WAKELOCKS_GC y
PM_WAKELOCKS_LIMIT 100
PNPBIOS y
PNPBIOS_PROC_FS y
PROCESSOR_SELECT y
PROC_VMCORE y
PSTORE_CONSOLE n
PSTORE_FTRACE n
PSTORE_RAM m
PWM_LP3943 m
PWM_LPSS m
PWM_LPSS_PCI m
PWM_LPSS_PLATFORM m
PWM_SYSFS y
PWM_TWL m
PWM_TWL_LED m
QLCNIC_DCB y
QLCNIC_SRIOV y
RADIO_ADAPTERS y
RADIO_AZTECH m
RADIO_CADET m
RADIO_GEMTEK m
RADIO_ISA m
RADIO_MAXIRADIO m
RADIO_MIROPCM20 m
RADIO_RTRACK m
RADIO_RTRACK2 m
RADIO_SAA7706H m
RADIO_SF16FMI m
RADIO_SF16FMR2 m
RADIO_SHARK m
RADIO_SHARK2 m
RADIO_SI470X y
RADIO_SI4713 m
RADIO_SI476X m
RADIO_TEA575X m
RADIO_TEA5764 m
RADIO_TEF6862 m
RADIO_TERRATEC m
RADIO_TIMBERDALE m
RADIO_TRUST m
RADIO_TYPHOON m
RADIO_WL1273 m
RADIO_WL128X m
RADIO_ZOLTRIX m
RANDOMIZE_BASE_MAX_OFFSET 0x20000000
RATIONAL y
REED_SOLOMON_DEC8 y
REED_SOLOMON_ENC8 y
REGULATOR_88PM800 m
REGULATOR_88PM8607 m
REGULATOR_AAT2870 m
REGULATOR_AB3100 m
REGULATOR_AS3711 m
REGULATOR_AXP20X m
REGULATOR_DA903X m
REGULATOR_DA9052 m
REGULATOR_DA9055 m
REGULATOR_DA9063 m
REGULATOR_LP8788 m
REGULATOR_MAX14577 m
REGULATOR_MAX77686 m
REGULATOR_MAX77693 m
REGULATOR_MAX77802 m
REGULATOR_MAX8907 m
REGULATOR_MAX8925 m
REGULATOR_MAX8997 m
REGULATOR_MAX8998 m
REGULATOR_PALMAS m
REGULATOR_PCAP m
REGULATOR_PWM m
REGULATOR_RC5T583 m
REGULATOR_S2MPA01 m
REGULATOR_S2MPS11 m
REGULATOR_S5M8767 m
REGULATOR_TPS65090 m
REGULATOR_TPS6586X m
REGULATOR_TPS65910 m
REGULATOR_TPS65912 m
REGULATOR_TPS80031 m
REGULATOR_TWL4030 m
REGULATOR_WM831X m
REGULATOR_WM8350 m
REGULATOR_WM8400 m
RT2X00_LIB_DEBUGFS n
RTC_DRV_88PM80X m
RTC_DRV_88PM860X m
RTC_DRV_AB3100 m
RTC_DRV_DA9052 m
RTC_DRV_DA9055 m
RTC_DRV_DA9063 m
RTC_DRV_LP8788 m
RTC_DRV_MAX77686 m
RTC_DRV_MAX77802 m
RTC_DRV_MAX8907 m
RTC_DRV_MAX8925 m
RTC_DRV_MAX8997 m
RTC_DRV_MAX8998 m
RTC_DRV_PALMAS m
RTC_DRV_PCAP m
RTC_DRV_RC5T583 m
RTC_DRV_S5M m
RTC_DRV_TPS6586X m
RTC_DRV_TPS65910 m
RTC_DRV_TPS80031 m
RTC_DRV_TWL4030 m
RTC_DRV_VRTC m
RTC_DRV_WM831X m
RTC_DRV_WM8350 m
SCC m
SCC_DELAY n
SCC_TRXECHO n
SCSI_7000FASST m
SCSI_AHA152X m
SCSI_AHA1542 m
SCSI_AHA1740 m
SCSI_DTC3280 m
SCSI_GENERIC_NCR5380 m
SCSI_GENERIC_NCR5380_MMIO m
SCSI_GENERIC_NCR53C400 y
SCSI_IN2000 m
SCSI_NCR53C406A m
SCSI_PAS16 m
SCSI_QLOGIC_FAS m
SCSI_SIM710 m
SCSI_SYM53C416 m
SCSI_T128 m
SCSI_U14_34F m
SCSI_U14_34F_LINKED_COMMANDS y
SCSI_U14_34F_MAX_TAGS 8
SCSI_U14_34F_TAGGED_QUEUE y
SCSI_ULTRASTOR m
SDLA m
SEALEVEL_4021 m
SECURITY_SMACK_BRINGUP n
#SECURITY_TOMOYO_ACTIVATION_TRIGGER "/sbin/init"
SECURITY_TOMOYO_MAX_ACCEPT_ENTRY 2048
SECURITY_TOMOYO_MAX_AUDIT_LOG 1024
SECURITY_TOMOYO_OMIT_USERSPACE_LOADER n
#SECURITY_TOMOYO_POLICY_LOADER "/sbin/tomoyo-init"
SECURITY_YAMA_STACKED y
SENSORS_DA9052_ADC m
SENSORS_DA9055 m
SENSORS_TWL4030_MADC m
SENSORS_WM831X m
SENSORS_WM8350 m
SERIAL_8250_ACCENT m
SERIAL_8250_BOCA m
SERIAL_8250_EXAR_ST16C554 m
SERIAL_8250_FOURPORT m
SERIAL_8250_HUB6 m
SERIAL_KGDB_NMI y
SERIAL_SCCNXP_CONSOLE y
SFC_SRIOV y
SIGNATURE y
SLOB n
SMC9194 m
SND_AD1816A m
SND_AD1848 m
SND_ADLIB m
SND_ALS100 m
SND_AZT1605 m
SND_AZT2316 m
SND_AZT2320 m
SND_CMI8328 m
SND_CMI8330 m
SND_CS4231 m
SND_CS4236 m
SND_DESIGNWARE_I2S m
SND_ES1688 m
SND_ES18XX m
SND_ES1968_RADIO y
SND_FM801_TEA575X_BOOL y
SND_GUSCLASSIC m
SND_GUSEXTREME m
SND_GUSMAX m
SND_HDA_DSP_LOADER y
SND_INTERWAVE m
SND_INTERWAVE_STB m
SND_ISA y
SND_JAZZ16 m
SND_MFLD_MACHINE m
SND_MIRO m
SND_MSND_CLASSIC m
SND_MSND_PINNACLE m
SND_OPL3SA2 m
SND_OPL4_LIB m
SND_OPTI92X_AD1848 m
SND_OPTI92X_CS4231 m
SND_OPTI93X m
SND_SB16 m
SND_SB16_CSP y
SND_SB8 m
SND_SB8_DSP m
SND_SBAWE m
SND_SC6000 m
SND_SOC_INTEL_BAYTRAIL m
SND_SOC_INTEL_BROADWELL_MACH m
SND_SOC_INTEL_BYT_MAX98090_MACH m
SND_SOC_INTEL_BYT_RT5640_MACH m
SND_SOC_INTEL_CHT_BSW_RT5672_MACH m
SND_SOC_INTEL_HASWELL m
SND_SOC_INTEL_HASWELL_MACH m
SND_SOC_MAX98090 m
SND_SOC_RT286 m
SND_SOC_RT5670 m
SND_SOC_SI476X m
SND_SOC_SN95031 m
SND_SSCAPE m
SND_SST_IPC_PCI m
SND_WAVEFRONT m
SND_WSS_LIB m
SOC_CAMERA m
SOC_CAMERA_IMX074 m
SOC_CAMERA_MT9M001 m
SOC_CAMERA_MT9M111 m
SOC_CAMERA_MT9T031 m
SOC_CAMERA_MT9T112 m
SOC_CAMERA_MT9V022 m
SOC_CAMERA_OV2640 m
SOC_CAMERA_OV5642 m
SOC_CAMERA_OV6650 m
SOC_CAMERA_OV772X m
SOC_CAMERA_OV9640 m
SOC_CAMERA_OV9740 m
SOC_CAMERA_PLATFORM m
SOC_CAMERA_RJ54N1 m
SOC_CAMERA_TW9910 m
SPARSEMEM y
SPEAKUP_SYNTH_ACNTPC m
SPEAKUP_SYNTH_DECPC m
SPEAKUP_SYNTH_DTLK m
SPEAKUP_SYNTH_KEYPC m
SSB_SILENT n
TCIC m
TOUCHSCREEN_88PM860X m
TOUCHSCREEN_DA9034 m
TOUCHSCREEN_DA9052 m
TOUCHSCREEN_HTCPEN m
TOUCHSCREEN_INTEL_MID m
TOUCHSCREEN_PCAP m
TOUCHSCREEN_WM831X m
TTY_PRINTK y
TWL4030_CORE y
TWL4030_MADC m
TWL4030_WATCHDOG m
TWL6030_GPADC m
TWL6040_CORE y
#UEVENT_HELPER_PATH ""
ULTRA m
UNINLINE_SPIN_UNLOCK y
USB_AIRSPY m
USB_DSBR m
USB_F_EEM m
USB_F_UAC1 m
USB_HACKRF m
USB_KBD m
USB_KEENE m
USB_MA901 m
USB_MOUSE m
USB_MR800 m
USB_MSI2500 m
USB_RAREMONO m
USB_SI470X m
USB_SI4713 m
V4L2_MEM2MEM_DEV m
V4L_RADIO_ISA_DRIVERS y
VFIO m
VFIO_IOMMU_TYPE1 m
VFIO_PCI m
VFIO_PCI_INTX y
VFIO_PCI_MMAP y
VFIO_PCI_VGA y
VIDEOBUF2_DMA_CONTIG m
VIDEOBUF2_DMA_SG m
VIDEOBUF2_DVB m
VIDEOBUF_DMA_CONTIG m
VIDEOBUF_DMA_SG m
VIDEO_ADV7170 m
VIDEO_ADV7175 m
VIDEO_ADV7180 m
VIDEO_BT819 m
VIDEO_BT848 m
VIDEO_BT856 m
VIDEO_BT866 m
VIDEO_BTCX m
VIDEO_BWQCAM m
VIDEO_CAFE_CCIC m
VIDEO_CQCAM m
VIDEO_CS5345 m
VIDEO_CS53L32A m
VIDEO_CX18 m
VIDEO_CX18_ALSA m
VIDEO_CX23885 m
VIDEO_CX25821 m
VIDEO_CX25821_ALSA m
VIDEO_CX88 m
VIDEO_CX88_ALSA m
VIDEO_CX88_BLACKBIRD m
VIDEO_CX88_DVB m
VIDEO_CX88_ENABLE_VP3054 y
VIDEO_CX88_MPEG m
VIDEO_CX88_VP3054 m
VIDEO_DT3155 m
VIDEO_FB_IVTV m
VIDEO_GO7007 m
VIDEO_GO7007_LOADER m
VIDEO_GO7007_USB m
VIDEO_GO7007_USB_S2250_BOARD m
VIDEO_HDPVR m
VIDEO_HEXIUM_GEMINI m
VIDEO_HEXIUM_ORION m
VIDEO_IVTV m
VIDEO_IVTV_ALSA m
VIDEO_KS0127 m
VIDEO_M52790 m
VIDEO_MEM2MEM_DEINTERLACE m
VIDEO_MEYE m
VIDEO_MXB m
VIDEO_OV7640 m
VIDEO_OV7670 m
VIDEO_PMS m
VIDEO_PVRUSB2 m
VIDEO_PVRUSB2_DEBUGIFC n
VIDEO_PVRUSB2_DVB y
VIDEO_PVRUSB2_SYSFS y
VIDEO_SAA6588 m
VIDEO_SAA6752HS m
VIDEO_SAA7110 m
VIDEO_SAA7127 m
VIDEO_SAA7134 m
VIDEO_SAA7134_ALSA m
VIDEO_SAA7134_DVB m
VIDEO_SAA7134_GO7007 m
VIDEO_SAA7134_RC y
VIDEO_SAA7146 m
VIDEO_SAA7146_VV m
VIDEO_SAA7164 m
VIDEO_SAA717X m
VIDEO_SAA7185 m
VIDEO_SAA7191 m
VIDEO_SH_VEU m
VIDEO_SOLO6X10 m
VIDEO_SONY_BTF_MPX m
VIDEO_STK1160 m
VIDEO_STK1160_AC97 y
VIDEO_STK1160_COMMON m
VIDEO_TDA7432 m
VIDEO_TDA9840 m
VIDEO_TEA6415C m
VIDEO_TEA6420 m
VIDEO_TIMBERDALE m
VIDEO_TLG2300 m
VIDEO_TVAUDIO m
VIDEO_TW2804 m
VIDEO_TW68 m
VIDEO_TW9903 m
VIDEO_TW9906 m
VIDEO_UDA1342 m
VIDEO_UPD64031A m
VIDEO_UPD64083 m
VIDEO_USBVISION m
VIDEO_V4L2_SUBDEV_API y
VIDEO_VIA_CAMERA m
VIDEO_VIM2M m
VIDEO_VIVID m
VIDEO_VP27SMPX m
VIDEO_VPX3220 m
VIDEO_W9966 m
VIDEO_WM8739 m
VIDEO_WM8775 m
VIDEO_ZORAN m
VIDEO_ZORAN_AVS6EYES m
VIDEO_ZORAN_BUZ m
VIDEO_ZORAN_DC10 m
VIDEO_ZORAN_DC30 m
VIDEO_ZORAN_LML33 m
VIDEO_ZORAN_LML33R10 m
VIDEO_ZORAN_ZR36060 m
VME_CA91CX42 m
VME_PIO2 m
VME_TSI148 m
VME_USER m
VMIVME_7805 m
VMSPLIT_1G n
VMSPLIT_2G n
VMSPLIT_3G y
WD80x3 m
WDT m
WILINK_PLATFORM_DATA y
WL1251 m
WL1251_SDIO m
WL1251_SPI m
WL12XX m
WL18XX m
WLCORE m
WLCORE_SDIO m
WLCORE_SPI m
WM831X_BACKUP m
WM831X_POWER m
WM831X_WATCHDOG m
WM8350_POWER m
WM8350_WATCHDOG m
XEN_BALLOON_MEMORY_HOTPLUG y
XEN_BALLOON_MEMORY_HOTPLUG_LIMIT 4
XEN_SELFBALLOONING y
XEN_TMEM m
ZSWAP y
8139TOO_PIO y
9P_FS_SECURITY y
ABX500_CORE y
ACCESSIBILITY n
ACORN_PARTITION y
ACPI_AC y
ACPI_APEI y
ACPI_BATTERY y
ACPI_BGRT y
ACPI_BUTTON y
ACPI_CUSTOM_METHOD n
ACPI_FAN y
ACPI_HED y
ACPI_PCI_SLOT y
ACPI_PROCESSOR y
ACPI_THERMAL y
AFS_FSCACHE y
AGP y
AGP_AMD y
AGP_AMD64 y
AGP_INTEL y
AGP_NVIDIA y
AGP_VIA y
AIC7XXX_CMDS_PER_DEVICE 8
AIX_PARTITION y
ALIX y
ASN1 y
ASYMMETRIC_KEY_TYPE y
ASYMMETRIC_PUBLIC_KEY_SUBTYPE y
ASYNC_TX_DMA y
ATA y
ATARI_PARTITION y
ATA_GENERIC y
ATA_PIIX y
ATH10K_DEBUGFS y
ATH10K_TRACING y
ATH9K_CHANNEL_CONTEXT y
ATH9K_DEBUGFS y
ATH9K_HTC_DEBUGFS y
ATH9K_WOW y
ATM_HE_USE_SUNI y
B43LEGACY_DEBUG n
B43_PCMCIA n
BATMAN_ADV_DAT y
BATMAN_ADV_MCAST y
BATMAN_ADV_NC y
BCMA_DRIVER_GMAC_CMN y
BCMA_DRIVER_GPIO y
BCMA_HOST_SOC y
BIG_KEYS y
BLK_CMDLINE_PARSER y
BLK_DEV_DM y
BLK_DEV_LOOP y
BLK_DEV_MD y
BLK_DEV_RAM y
BLK_DEV_RAM_SIZE 65536
BLK_DEV_SD y
BLK_DEV_SR y
BLK_DEV_SR_VENDOR n
BOOT_PRINTK_DELAY y
BPF_SYSCALL y
BRCMFMAC_PCIE y
BRCMFMAC_USB y
BRCM_TRACING y
BRIDGE_VLAN_FILTERING y
BT_BNEP_MC_FILTER y
BT_BNEP_PROTO_FILTER y
BT_HCIUART_3WIRE y
BT_HCIUART_ATH3K y
#BUILD_BIN2C n
CAN_LEDS y
CARL9170_HWRNG y
CEPH_LIB_USE_DNS_RESOLVER y
CFG80211_DEBUGFS y
CFS_BANDWIDTH y
CGROUP_HUGETLB y
CGROUP_NET_PRIO y
CGROUP_PERF y
CHARGER_MANAGER y
CHECKPOINT_RESTORE y
CHELSIO_T1_1G y
CHROME_PLATFORMS y
CHR_DEV_SG y
CIFS_ACL y
CIFS_DFS_UPCALL y
CIFS_SMB2 y
CIFS_STATS y
CIFS_UPCALL y
CIFS_WEAK_PW_HASH y
CISS_SCSI_TAPE y
CLEANCACHE y
CLS_U32_PERF n
CMA y
CMDLINE_PARTITION y
COMEDI_ISA_DRIVERS y
COMEDI_MISC_DRIVERS y
CPU_FREQ_GOV_CONSERVATIVE y
CPU_FREQ_GOV_ONDEMAND y
CPU_FREQ_GOV_POWERSAVE y
CPU_FREQ_GOV_USERSPACE y
CPU_FREQ_STAT y
CPU_FREQ_STAT_DETAILS y
CPU_NOTIFIER_ERROR_INJECT m
CRASH_DUMP y
CRC16 y
CRYPTO_BLKCIPHER y
CRYPTO_CBC y
CRYPTO_CRC32C y
CRYPTO_CRC32C_INTEL y
CRYPTO_DEV_CCP y
CRYPTO_DEV_PADLOCK y
CRYPTO_DRBG_CTR y
CRYPTO_DRBG_HASH y
CRYPTO_ECB y
CRYPTO_HMAC y
CRYPTO_LZO y
CRYPTO_MANAGER y
CRYPTO_RNG y
CRYPTO_SHA256 y
CRYPTO_SHA512 y
CS5535_MFGPT n
DCB y
DDR y
DEBUG_BOOT_PARAMS n
DEBUG_MEMORY_INIT n
DEBUG_SET_MODULE_RONX y
DEFAULT_CFQ n
DEFAULT_IOSCHED "deadline"
DEFAULT_IO_DELAY_TYPE 1
DEFAULT_MMAP_MIN_ADDR 65536
DEFAULT_RENO n
DEFAULT_TCP_CONG "cubic"
DEVFREQ_GOV_PERFORMANCE y
DEVFREQ_GOV_POWERSAVE y
DEVFREQ_GOV_SIMPLE_ONDEMAND y
DEVFREQ_GOV_USERSPACE y
DMATEST n
DM_UEVENT y
DNS_RESOLVER y
DRAGONRISE_FF y
DRM_BOCHS n
DRM_GMA3600 y
DRM_GMA600 y
DRM_I915_PRELIMINARY_HW_SUPPORT y
DRM_LOAD_EDID_FIRMWARE y
DRM_MGAG200 n
DRM_VMWGFX_FBCON y
DSCC4_PCISYNC y
DSCC4_PCI_RST y
DWC3_HOST_USB3_LPM_ENABLE y
DYNAMIC_DEBUG y
EARLY_PRINTK_EFI y
#ECRYPT_FS y
ECRYPT_FS_MESSAGING y
EDAC_LEGACY_SYSFS n
EDD y
EDD_OFF y
EFIVAR_FS y
EFI_VARS y
ENABLE_MUST_CHECK n
ENCRYPTED_KEYS y
EVM y
EXPERT y
EXT2_FS n
EXT3_FS n
EXT4_FS y
EXTCON y
EZX_PCAP y
F2FS_FS_SECURITY y
FANOTIFY_ACCESS_PERMISSIONS y
FAT_FS y
FB_3DFX_ACCEL n
FB_3DFX_I2C n
FB_ASILIANT y
FB_IMSTT y
FB_MATROX_G y
FB_MATROX_MILLENIUM y
FB_MATROX_MYSTIQUE y
FB_PM2_FIFO_DISCONNECT y
FB_SAVAGE_ACCEL n
FB_SIMPLE y
FB_VIA_X_COMPATIBILITY y
FB_VIRTUAL n
FDDI y
FIRMWARE_EDID y
FIXED_PHY y
FLATMEM_MANUAL n
FM10K_VXLAN y
FRAMEBUFFER_CONSOLE_ROTATION y
FRAME_WARN 1024
FRONTSWAP y
FSCACHE_STATS y
FS_MBCACHE y
FUSE_FS y
FUSION_LOGGING y
FW_LOADER_USER_HELPER_FALLBACK n
GACT_PROB y
GADGET_UAC1 y
GEOS y
GFS2_FS_LOCKING_DLM y
GPIO_INTEL_MID y
GPIO_LYNXPOINT y
GPIO_SYSFS y
GPIO_TIMBERDALE y
GREENASIA_FF y
HFSPLUS_FS_POSIX_ACL y
HID_ACRUX_FF y
HID_BATTERY_STRENGTH y
HIPPI n
HOLTEK_FF y
HOTPLUG_PCI_ACPI y
HOTPLUG_PCI_COMPAQ_NVRAM y
HOTPLUG_PCI_CPCI y
HOTPLUG_PCI_PCIE y
HPET_MMAP y
HWMON y
HW_RANDOM y
HZ 250
HZ_1000 n
HZ_250 y
I2C y
I2C_CHARDEV y
I2O_CONFIG_OLD_IOCTL n
I40E_VXLAN y
IDE n
IIO_BUFFER_CB y
IKCONFIG n
IMA y
INET_LRO y
INFINIBAND_IPOIB_CM y
INFINIBAND_IPOIB_DEBUG n
INFINIBAND_MTHCA_DEBUG n
INPUT_EVDEV y
INPUT_FF_MEMLESS m
INPUT_MOUSEDEV y
INPUT_MOUSEDEV_PSAUX y
INPUT_UINPUT y
INTEGRITY_SIGNATURE y
INTEL_GTT y
INTEL_IOMMU y
IOSCHED_DEADLINE y
IOSF_MBI_DEBUG y
IO_DELAY_0X80 n
IO_DELAY_0XED y
IPDDP_ENCAP y
IPMI_SI_PROBE_DEFAULTS y
IPV6 y
IPV6_MROUTE y
IPV6_MULTIPLE_TABLES y
IPV6_ROUTER_PREF y
IPV6_SIT_6RD y
IPW2200_PROMISCUOUS y
IPW2200_QOS y
IPW2200_RADIOTAP y
IP_FIB_TRIE_STATS y
IP_PNP y
IP_VS_IPV6 y
IP_VS_PROTO_SCTP y
IRDA_CACHE_LAST_LSAP y
IRDA_FAST_RR y
ISA y
ISCSI_IBFT_FIND y
ISDN y
ITCO_VENDOR_SUPPORT y
IWLWIFI_DEVICE_TRACING y
JBD2 y
JFFS2_COMPRESSION_OPTIONS y
JFFS2_FS_XATTR y
JFFS2_LZO y
JFS_STATISTICS y
JUMP_LABEL y
KALLSYMS_ALL y
KEXEC_JUMP y
KEYBOARD_ATKBD y
KGDB y
KVM_DEBUG_FS y
L2TP_V3 y
LEDS_CLASS y
LEDS_PCA9532_GPIO y
LEDS_TRIGGER_CPU y
LEGACY_PTYS y
LGUEST n
LIBERTAS_MESH y
LKDTM n
LOCKUP_DETECTOR y
LOGFS n
LOGIG940_FF y
LOG_BUF_SHIFT 17
LSM_MMAP_MIN_ADDR 0
MAC80211_DEBUGFS y
MAC80211_MESH y
MAC80211_MESSAGE_TRACING y
MAC80211_RC_MINSTREL_VHT y
MAILBOX y
MEDIA_ANALOG_TV_SUPPORT y
MEDIA_CONTROLLER y
MEDIA_PCI_SUPPORT y
MEDIA_RADIO_SUPPORT y
MEDIA_SDR_SUPPORT y
MEMCG_KMEM y
MEMCG_SWAP_ENABLED n
MEMORY y
MFD_DA9052_SPI y
MFD_SM501_GPIO y
MFD_TPS65912 y
MFD_TPS65912_SPI y
MFD_WM5102 y
MFD_WM5110 y
MFD_WM831X_SPI y
MFD_WM8997 y
MMC y
MMC_RICOH_MMC y
MMC_TEST n
MMIOTRACE y
MODULE_FORCE_UNLOAD n
#MODULE_SIG y
MODULE_SRCVERSION_ALL y
MOUSE_ELAN_I2C_SMBUS y
MOUSE_PS2_SENTELIC y
MOUSE_PS2_TOUCHKIT y
MPILIB y
MTD_DATAFLASH_OTP y
MTD_NAND_ECC_BCH y
MTD_ONENAND_2X_PROGRAM y
MTD_ONENAND_VERIFY_WRITE y
MTD_SPINAND_ONDIEECC y
MTD_TESTS n
MTD_UBI_BLOCK y
MTD_UBI_FASTMAP y
MTRR_SANITIZER_ENABLE_DEFAULT 1
NCPFS_EXTRAS y
NCPFS_IOCTL_LOCKING y
NCPFS_NFS_NS y
NCPFS_NLS y
NCPFS_OS2_NS y
NCPFS_PACKET_SIGNING y
NCPFS_STRONG y
NET5501 y
NETCONSOLE_DYNAMIC y
NETFILTER_NETLINK_QUEUE_CT y
NETFILTER_XT_TARGET_NOTRACK n
NETLINK_MMAP y
NET_DROP_MONITOR n
NET_FOU_IP_TUNNELS y
NET_IPGRE_BROADCAST y
NET_XGENE n
NFC m
NFS_V4_1_MIGRATION y
NFTL_RW y
NF_CONNTRACK_EVENTS y
NF_CONNTRACK_PROCFS n
NF_CONNTRACK_TIMEOUT y
NF_CONNTRACK_TIMESTAMP y
NF_CONNTRACK_ZONES y
NLS_CODEPAGE_437 y
OCFS2_DEBUG_MASKLOG y
OID_REGISTRY y
PACKET y
PARAVIRT_SPINLOCKS y
PARIDE_EPATC8 y
PARPORT_1284 y
PARPORT_PC_FIFO y
PATA_SIS y
PCIEAER_INJECT n
PCIEASPM_DEBUG y
PCI_IOV y
PCI_PASID y
PCI_PRI y
PCI_REALLOC_ENABLE_AUTO y
PERSISTENT_KEYRINGS y
PGTABLE_MAPPING y
PHYLIB y
PHYSICAL_ALIGN 0x1000000
PM_TRACE_RTC y
PM_WAKELOCKS y
PNP_DEBUG_MESSAGES n
POWERCAP y
POWER_AVS y
POWER_RESET y
PPP y
PPS_CLIENT_KTIMER n
PRISM54 n
PROVIDE_OHCI1394_DMA_INIT n
PSTORE y
PUBLIC_KEY_ALGO_RSA y
PWM y
QLCNIC_VXLAN y
RANDOMIZE_BASE y
RAPIDIO y
RAPIDIO_DMA_ENGINE y
RCU_CPU_STALL_TIMEOUT 60
RCU_FAST_NO_HZ y
REGMAP_I2C y
REGMAP_SPI y
RFKILL y
RSI_DEBUGFS n
RT2800USB_RT3573 y
RT2800USB_RT53XX y
RT2800USB_UNKNOWN y
RTC_DRV_CMOS y
RTC_DRV_DS1374_WDT y
RTC_DRV_M41T80_WDT y
RTC_DRV_TEST n
RTC_HCTOSYS y
RTLWIFI_DEBUG n
RT_GROUP_SCHED n
SATA_ZPODD y
SCHEDSTATS y
SCHED_AUTOGROUP y
SCHED_DEBUG y
SCHED_STACK_END_CHECK y
SCSI y
SCSI_EATA_LINKED_COMMANDS y
SCSI_EATA_TAGGED_QUEUE y
SCSI_FLASHPOINT y
SCSI_MOD y
SCSI_MVSAS_DEBUG n
SCSI_SCAN_ASYNC y
SCTP_COOKIE_HMAC_SHA1 y
SCTP_DEFAULT_COOKIE_HMAC_MD5 n
SCTP_DEFAULT_COOKIE_HMAC_SHA1 y
SECURITY_NETWORK_XFRM y
SECURITY_SMACK y
SECURITY_TOMOYO y
SECURITY_YAMA y
SENSORS_LTC2978_REGULATOR y
SERIAL_8250_DEPRECATED_OPTIONS n
SERIAL_8250_DETECT_IRQ n
SERIAL_8250_NR_UARTS 48
SERIAL_8250_RUNTIME_UARTS 32
SERIAL_IFX6X60 n
SERIAL_MAX310X y
SERIAL_SCCNXP y
SERIO y
SERIO_I8042 y
SERIO_LIBPS2 y
SFI y
SKGE_GENESIS y
SLHC y
SLIP_MODE_SLIP6 y
SMARTJOYPLUS_FF y
SMS_SIANO_DEBUGFS y
SND_ES1968_INPUT y
SND_HDA_CODEC_CA0132_DSP y
SND_HDA_INPUT_BEEP_MODE 0
SND_HDA_INPUT_JACK y
SND_HDA_PATCH_LOADER y
SND_HDA_RECONFIG y
SND_MAESTRO3_INPUT y
SND_OPL4_LIB_SEQ m
SND_SBAWE_SEQ m
SND_SEQUENCER_OSS n
SOC_TI y
SONYPI_COMPAT y
SONY_FF y
SOUND_OSS_CORE_PRECLAIM n
SOUND_PRIME n
SPARSEMEM_MANUAL y
SPI_DW_MID_DMA y
SPI_PXA2XX_PCI m
SPI_XILINX n
SQUASHFS_LZ4 n
SRAM y
SSB_DRIVER_GPIO y
SSB_PCMCIAHOST n
SSB_SDIOHOST y
STAGING_MEDIA y
STMMAC_PCI n
SYSCTL_SYSCALL y
SYSV68_PARTITION y
TAHVO_USB_HOST_BY_DEFAULT y
TCG_TIS y
TCG_TPM y
TCP_CONG_CUBIC y
THERMAL y
THERMAL_EMULATION y
THERMAL_GOV_FAIR_SHARE y
THINKPAD_ACPI_DEBUGFACILITIES y
THRUSTMASTER_FF y
TIPC_MEDIA_IB y
TOSHIBA n
TRANSPARENT_HUGEPAGE_ALWAYS y
TRANSPARENT_HUGEPAGE_MADVISE n
TRUSTED_KEYS y
TUN y
UBIFS_FS_ADVANCED_COMPR n
UEVENT_HELPER y
ULTRIX_PARTITION y
UNIX y
UNUSED_SYMBOLS y
USB y
USB_ALI_M5632 y
USB_AN2720 y
USB_CHIPIDEA_HOST y
USB_CHIPIDEA_UDC y
USB_COMMON y
USB_CONFIGFS_ACM y
USB_CONFIGFS_ECM y
USB_CONFIGFS_ECM_SUBSET y
USB_CONFIGFS_EEM y
USB_CONFIGFS_F_FS y
USB_CONFIGFS_F_HID y
USB_CONFIGFS_F_LB_SS y
USB_CONFIGFS_F_MIDI y
USB_CONFIGFS_F_UAC1 y
USB_CONFIGFS_F_UAC2 y
USB_CONFIGFS_MASS_STORAGE y
USB_CONFIGFS_NCM y
USB_CONFIGFS_OBEX y
USB_CONFIGFS_PHONET y
USB_CONFIGFS_RNDIS y
USB_CONFIGFS_SERIAL y
USB_DUMMY_HCD n
USB_DWC2 y
USB_DWC2_PCI y
USB_DWC2_PLATFORM y
USB_DWC3_DUAL_ROLE y
USB_DWC3_HOST n
USB_DYNAMIC_MINORS y
USB_EHCI_HCD y
USB_EHCI_HCD_PLATFORM y
USB_EHCI_PCI y
USB_EPSON2888 y
USB_ETH_EEM y
USB_FUNCTIONFS_ETH y
USB_FUNCTIONFS_RNDIS y
USB_G_MULTI n
USB_KC2190 y
USB_LED_TRIG y
USB_M66592 n
USB_MUSB_DUAL_ROLE y
USB_MUSB_HOST n
USB_NET2272_DMA y
USB_OHCI_HCD y
USB_OHCI_HCD_PCI y
USB_OHCI_HCD_PLATFORM y
USB_OTG n
USB_OTG_FSM n
USB_SERIAL_MOS7715_PARPORT y
USB_SL811_HCD_ISO y
USB_UHCI_HCD y
USB_XHCI_HCD y
USB_XHCI_PCI y
V4L_MEM2MEM_DRIVERS y
V4L_PLATFORM_DRIVERS y
V4L_TEST_DRIVERS y
VFAT_FS y
VGACON_SOFT_SCROLLBACK n
VIA_RHINE_MMIO y
VIDEO_AU0828_RC y
VIRTIO y
VIRTIO_BALLOON y
VIRTIO_BLK y
#VIRTIO_CONSOLE y
VIRTIO_MMIO y
VIRTIO_MMIO_CMDLINE_DEVICES y
VIRTIO_NET y
VIRTIO_PCI y
VLAN_8021Q_GVRP y
VLAN_8021Q_MVRP y
VME_BUS y
WIMAX_GDM72XX_K_MODE y
WIMAX_GDM72XX_QOS y
WIMAX_GDM72XX_USB_PM y
WIMAX_GDM72XX_WIMAX2 y
WL_TI y
WQ_POWER_EFFICIENT_DEFAULT y
X509_CERTIFICATE_PARSER y
X86_CPUFREQ_NFORCE2 y
X86_E_POWERSAVER n
X86_INTEL_LPSS y
X86_INTEL_MID y
X86_PPRO_FENCE y
X86_SPEEDSTEP_CENTRINO y
X86_SPEEDSTEP_ICH y
X86_SPEEDSTEP_LIB y
X86_SPEEDSTEP_RELAXED_CAP_CHECK y
X86_SPEEDSTEP_SMI y
X86_VERBOSE_BOOTUP n
XFRM_STATISTICS y
ZBUD y
ZEROPLUS_FF y
ZLIB_DEFLATE y
ZPOOL y
ZRAM_LZ4_COMPRESS y

ARCH_SUSPEND_POSSIBLE y
OLD_SIGSUSPEND3 y
SUSPEND y
SUSPEND_FREEZER y
HIBERNATION y
PM_SLEEP y
PM_SLEEP_SMP y
PM_AUTOSLEEP y
PM_WAKELOCKS y
PM_RUNTIME y
PM y
PM_DEBUG y
PM_ADVANCED_DEBUG y
PM_SLEEP_DEBUG y
PM_CLK y
WQ_POWER_EFFICIENT_DEFAULT y
ACPI y
ACPI_SLEEP y
ACPI_PROCFS_POWER y
ACPI_EC_DEBUGFS m
ACPI_AC m
ACPI_BATTERY m
ACPI_BUTTON y
ACPI_VIDEO y
ACPI_FAN m
ACPI_DOCK y
ACPI_PROCESSOR m
ACPI_HOTPLUG_CPU y
ACPI_PROCESSOR_AGGREGATOR m
ACPI_THERMAL m
ACPI_INITRD_TABLE_OVERRIDE y
X86_PM_TIMER y
ACPI_CONTAINER y
ACPI_SBS m
ACPI_CUSTOM_METHOD m
ACPI_BGRT y
